h1 {
  margin-bottom: 1%;
}

h2 {
  margin-bottom: 2%;
  color: #6CBB3C;
}

.blurb {
  font-size:18px;
}


.circle-pic{
  border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  border: 3px solid black;
}

.contact-button {
  margin-left: 3%;
  margin-bottom:3%;
}

.me-pic{
  width: 250px;
  height: 250px;
}

.project-description {
  font-size:22px;
}

.project-image{
  width: 200px;
  height: 200px;
}

.row {
  margin-top: 3%;
  margin-bottom: 10%;
}

.tech-name {
  color: #ff8080;
}
