button {
    background-color: darkblue;
    color: white;
}

div.input {
    margin-bottom: 5%;
}

fieldset {
    max-width: available;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

fieldset p {
    background-color: darkblue;
    color: white;
    padding-left: 10px;
}

img {
    max-width: 100%;
    margin-top: 5%;
}

input {
    padding: 10px 10px;
    margin-left: 3%;
    font-size: 20px;

}

input[type=text], input[type=tel], input[type=email] {
    border-bottom: 3px solid darkgray;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 20px;
    font-family: "Ubuntu Mono", monospace;
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
    border-bottom: 3px solid darkblue;
    outline: none !important;
}

input#apt {
    width: 8vw;
}

input#city {
    width: 12vw;
}

input#state {
    width: 2vw;
}

input#zip {
    width: 5vw;
}

input#phone {
    width: 12vw;
}

label {
    display: inline-block;
}

.required:after {
    content:" *";
    color: darkred;
}

textarea {
    vertical-align: top;
}