div#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
            '... .... .... ...'
            '... titl main ...'
            '... navi main ...'
            '... .... .... ...';
    grid-template-columns: 2% 20%  auto 2%;
    grid-template-rows: 2% 150px auto 2%;
}


div#main {
    grid-area: main;
    padding: 20px;
    font-size: 24px;
}


nav {
    grid-area: navi;
    font-size: 24px;
}

h1 {
    grid-area: titl;
    font-size: 36px;
}

nav a {
    display: block;
}
