div#container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
            '... .... .... ..'
            '... titl navi ..'
            '... .... .... ..'
            '... main main ..'
            '... .... .... ..';
    grid-template-rows: 2% 100px 2% auto 2% ;
    grid-template-columns: 2% 150px auto 2%;
}

div#main {
    grid-area: main;
    font-size: 20px;
    max-width: 98%;
}

nav {
    grid-area: navi;
    margin-top: 25px;
    font-size: 20px;
}

h1 {
    grid-area: titl;
    font-size: 28px;
}

