a {
    display: block;
    color: var(--link-color);
    text-decoration: none;
}

.content a:hover {
    background-color: white;
    cursor: default;
}

img {
    max-width: 100%;
    margin-bottom: 20%;
    margin-top: 5%;
    cursor: pointer;
}